@tailwind base;
@tailwind components;
@tailwind utilities;

.spot-trade {
  border-top: 1px solid;
  border-color: transparent;
  display: grid;
  gap: 1px;
  grid-template-columns: minmax(253px, 320px) minmax(510px, 1fr) minmax(253px, 320px);
  grid-template-rows: 56px 360px 160px minmax(169px, 1fr) minmax(146px, auto) 560px 24px;
  grid-template-areas:
    'pairs header header'
    'pairs chart book'
    'trades chart book'
    'trades form book'
    'movers form book'
    'table table table'
    'footer footer footer';
}
